<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th>Total Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @group.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.icon %></td>
        <td><%= category.operations.sum(:amount) %></td>
        <td><%= link_to 'View Transactions', transactions_path(category_id: category.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="<%= new_category_path %>">Add a New Category</a>

